body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background-image:url("/imagen/fondo.png");
background-size:cover;
}

/* encabezado */
#encabezado{
background-color:#8B0000;
color:white;
text-align:center;
padding:20px;
}

.logo{
width:80px;
display:block;
margin:auto;
}

/* menu */
#menu{
background:#333;
text-align:center;
padding:12px;
}

#menu a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

#menu a:hover{
color:yellow;
}

/* contenido */
#datos{
background:rgba(179, 189, 42, 0.692);
margin:20px auto;
padding:20px;
width:80%;
border-radius:10px;
}

/* productos */
.producto{
border:1px solid #ccc;
padding:10px;
margin:10px;
display:inline-block;
width:200px;
text-align:center;
border-radius:8px;
background:#fafafa;
}

.producto img{
width:180px;
border-radius:8px;
}

.precio{
color:#8B0000;
font-weight:bold;
}

/* galeria */
.galeria{
width:300px;
border-radius:10px;
margin:10px;
}

/* pie */
.pie{
background:#8B0000;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}